<div class="wrapper">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title>Currency Converter</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="input-stack">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Select Date (Optional for History)</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="model.date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" [(ngModel)]="model.amount">
                </mat-form-field>

                <div class="currency-selectors">
                    <mat-form-field appearance="fill">
                        <mat-label>From</mat-label>
                        <mat-select [(ngModel)]="model.base_currency">
                            @for (currency of currencyList; track currency) {
                            <mat-option [value]="currency.code">{{currency.code}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>To</mat-label>
                        <mat-select [(ngModel)]="model.target_currency">
                            @for (currency of currencyList; track currency) { <mat-option
                                [value]="currency.code">{{currency.code}}</mat-option> }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <button mat-flat-button color="primary" class="convert-btn" (click)="handleConvert()"
                [disabled]="isLoading || !model.base_currency || !model.target_currency || !model.amount || !model.date">
                @if (isLoading) { <mat-spinner diameter="24"></mat-spinner> }
                @else { Convert Now }
            </button>

            @if (result && !isLoading) {
            <div class="display-result">
                <h3>Result: {{result | number:'1.2-2'}} {{toCurrency}}</h3>
            </div>
            }
        </mat-card-content>
    </mat-card>

    <mat-card class="history-card">
        <mat-card-subtitle>Conversion History</mat-card-subtitle>
        <mat-list>
            @for (item of conversionHistory; track item) {
            <mat-list-item>
                <span matListItemTitle>Historical Date: {{item.date}}</span>
                <span matListItemTitle>{{item.amount}} {{item.from}} = {{item.convertedAmount | number:'1.2-2'}}
                    {{item.to}}</span>
                <span matListItemLine>Date: {{item.createdAt}}</span>
            </mat-list-item>
            }
        </mat-list>
    </mat-card>
</div>